/java_workspace
/Algorithms/Week1/hello
/SpringBoot/UdemyBiz_SpringBoot3/01-spring-boot-overview
/SpringBoot/UdemyBiz_SpringBoot3/02-spring-boot-spring-core
/SpringBoot/UdemyBiz_SpringBoot3/03-spring-boot-hibernate-jpa-crud
/SpringBoot/UdemyBiz_SpringBoot3/04-spring-boot-rest-crud
/SpringBoot/UdemyBiz_SpringBoot3/exercise_files